@font-face {
    font-family: 'OpenSans Regular';
    src: url("../source/fonts/OpenSans-Regular.woff") format("woff"), url("../source/fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Bold';
    src: url("../source/fonts/OpenSans-Bold.woff") format("woff"), url("../source/fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans SemiBold';
    src: url("../source/fonts/OpenSans-Semibold.woff") format("woff"), url("../source/fonts/OpenSans-Semibold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Light';
    src: url("../source/fonts/OpenSans-Light.woff") format("woff"), url("../source/fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/******************************
********** general ************
******************************/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
    color: #091726;
    font-family: 'OpenSans Regular', sans-serif;
}

a, button, input[type="submit"], input[type="cancel"], input[type="reset"] {
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active, a:focus {
    outline: none;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input, input:hover, input:active, input:focus {
    outline: none;
}
textarea, textarea:hover, textarea:active, textarea:focus {
    outline: none;
    border: none;
}

ul li, ol li {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

h1 {
    font-family: 'OpenSans Bold', sans-serif;
    font-size: 56px;
    color: rgba(255, 255, 255, 1);
    font-weight: 100;
    margin: 0 0 3% 0;
}
h2 {
    font-family: 'OpenSans Bold', sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
}
h3 {
    font-family: 'OpenSans Bold', sans-serif;
    font-size: 17px;
    font-weight: 100;
}
p {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    padding-top: 6%;
    padding-bottom: 6%;
}

.to-order {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: #007fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: 'OpenSans Bold', sans-serif;
    color: #ffffff;
    font-size: 24px;
    padding: 18px 50px 22px;
    -webkit-box-shadow: 0 3px 6px 2px rgba(0,127,255,0.2);
    -moz-box-shadow: 0 3px 6px 2px rgba(0,127,255,0.2);
    box-shadow: 0 3px 6px 2px rgba(0,127,255,0.2);
}
.to-order:hover {
    background-color: #0073e1;
    -webkit-box-shadow: 0 3px 6px 3px rgba(0,127,255,0.4);
    -moz-box-shadow: 0 3px 6px 3px rgba(0,127,255,0.4);
    box-shadow: 0 3px 6px 3px rgba(0,127,255,0.4);
}


.form-field-wrap {
    display: inline-block;
    width: 270px;
    height: 40px;
    margin: 0 10px 15px 0;
}
.form-field {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: 'OpenSans Regular', sans-serif;
    font-size: 15px;
    padding: 0 20px;
}

.form-field::-webkit-input-placeholder {font-family: 'OpenSans Regular', sans-serif; opacity: 1; color: #091726;}
.form-field::-moz-placeholder {font-family: 'OpenSans Regular', sans-serif; opacity: 1; color: #091726;}
.form-field:-moz-placeholder {font-family: 'OpenSans Regular', sans-serif; opacity: 1; color: #091726;}
.form-field:-ms-input-placeholder {font-family: 'OpenSans Regular', sans-serif; opacity: 1; color: #091726;}

.form-field:focus::-webkit-input-placeholder {color: transparent;}
.form-field:focus::-moz-placeholder {color: transparent;}
.form-field:focus:-moz-placeholder {color: transparent;}
.form-field:focus:-ms-input-placeholder {color: transparent;}

.custom-select {
    display: inline-block;
    width: 270px;
    height: 40px;
    margin: 0 10px 10px 0;
    background-color: #ffffff;
    position: relative;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.custom-select .current-value {
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 38px;
    padding-left: 30px;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
}
.custom-select .current-value span {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 15px;
    -webkit-box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.25), 1px 1px 2px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.25), 1px 1px 2px 0 rgba(0,0,0,0.25);
    box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.25), 1px 1px 2px 0 rgba(0,0,0,0.25);
    margin: 10px 20px 13px 0;
}
.custom-select .current-value:after {
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    background: transparent url('../source/images/icon-arrow.png') no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: 14px;
    right: 15px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.custom-select .current-value.active:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.custom-select ul {
    display: none;
    width: 270px;
    background-color: #ffffff;
    position: absolute;
    right: -1px;
    top: 38px;
    z-index: 1;
    padding: 5px 15px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.custom-select ul li {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 40px;
    line-height: 38px;
    padding-left: 65px;
    position: relative;
    overflow: hidden;
    font-size: 15px;
}
.custom-select ul li span {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 15px;
    -webkit-box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.25), 1px 1px 2px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.25), 1px 1px 2px 0 rgba(0,0,0,0.25);
    box-shadow: -1px -1px 2px 0 rgba(0,0,0,0.25), 1px 1px 2px 0 rgba(0,0,0,0.25);
    margin: 10px 20px 13px 0;
    position: absolute;
    top: 0;
    left: -100px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.flag-russia {
    background: transparent url('../source/content/flag-russia.png') no-repeat center;
    background-size: cover;
}
.flag-ukraine {
    background: transparent url('../source/content/flag-ukraine.png') no-repeat center;
    background-size: cover;
}
.flag-kazahstan {
    background: transparent url('../source/content/flag-kazahstan.png') no-repeat center;
    background-size: cover;
}
.custom-select ul li:hover span {
    left: 15px;
}
.custom-select ul li:hover {
    color: #ff0000;
}
.custom-checkbox-wrap, .custom-checkbox {
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
}

.validatr-message {
    display: none;
}


.invalid-field {
    border: 1px solid #ff0000!important;
    background: url('../source/images/icon-invalid.png') no-repeat 98% center!important;
    background-size: auto 30%!important;
}
.valid-field {
    border: 1px solid #008000!important;
    background: url('../source/images/icon-valid.png') no-repeat 98% center!important;
    background-size: auto 30%!important;
}

.video {
    display: block;
    width: 100%;
    position: relative;
}
.video:after {
    content: '';
    display: block;
    width: 75px;
    height: 75px;
    background: rgba(255, 255, 255, 0.75) url('../source/images/icon-triangle-blue.png') no-repeat 55% center;
    background-size: 19px 26px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.video:hover {
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
}
.video:hover:after {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 127, 255, 1);
}

.block-content {
    background-color: #ffffff;
    z-index: 1;
    position: relative;
}
.color-background {
    background-color: #f5faff;
}

/* header */
header[role="banner"] {
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
}
header[role="banner"] .container {
    padding-top: 0;
    padding-bottom: 0;
}
.header-top {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header-top .container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.our-logo {
    display: block;
    width: 90%;
    padding-top: 21.10619469026549%;
    background: transparent url('../source/content/logo.png') no-repeat center;
    background-size: cover;
    margin: 15px 0;
    opacity: 0.7;
}
.our-logo:hover {
    opacity: 1;
}
.header-bottom {
    background-color: #091726;
    position: absolute;
    margin: auto;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
}
.header-bottom.to-top {
    position: fixed;
    top: 0;
}
.header-bottom .out-logo {
    margin: 10px 0;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-top: 30px;
}
.header-bottom nav ul {
    margin-top: 20px;
}
nav ul li a {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}
nav ul li a:hover {
    color: rgba(255, 255, 255, 1);
}
.our-phone {
    display:inline-block;
    font-family: 'OpenSans Regular', sans-serif;
    font-size: 19px;
    color: rgba(255, 255, 255, 1);
    margin-top: 28px;
    font-weight: 600;
}
.header-bottom .our-phone {
    margin-top: 17px;
}
.header-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
header .to-order {
    margin-right: 50px;
}
.no-blender, .no-juicer {
    display: inline-block;
    vertical-align: middle;
    font-family: 'OpenSans SemiBold', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.85);
    position: relative;
}
.no-blender:hover, .no-juicer:hover {
    color: rgba(255, 255, 255, 1);
}
.no-blender:before, .no-juicer:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 33px;
    background: transparent url('../source/images/icon-white-1.png') no-repeat center;
    background-size: cover;
    margin-right: 10px;
}
.no-juicer:before {
    background: transparent url('../source/images/icon-white-2.png') no-repeat center;
    background-size: cover;
    margin-left: 20px;
}

/* unique-helper */

.unique-helper h2, .unique-helper p {
    padding-left: 3%;
}
.unique-helper p {
    font-family: 'OpenSans Light', sans-serif;
}

/* advantages-list-1 */

.advantages-list-1 {
    background-image: url('../source/content/background-advantages.png');
    background-repeat: no-repeat;
    background-position: center 230px;
    background-size: auto;
    padding-bottom: 5%;
}
.advantages-list-1 h2 {
    text-align: center;
    margin-bottom: 7%;
}
.advantages-list-1 ul li {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 5%;
    padding-left: 40px;
    position: relative;
    font-family: 'OpenSans Light', sans-serif;
}
.advantages-list-1 ul li:before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    border: 3px solid #007fff;
    background: #007fff url('../source/images/icon-ok-white.png') no-repeat center;
    background-size: cover;
    line-height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
}
.advantages-list-1 ul li:nth-child(2n) {
    text-align: right;
    padding-right: 40px;
}
.advantages-list-1 ul li:nth-child(2n):before {
    left: auto;
    right: 0;
}

/* advantages-video */

.advantages-video .row {
    background-color: #f5faff;
}
.advantages-video .container {
    padding-bottom: 10px;
}
.advantages-video p {
    padding: 20px;
}
/* advantages-list-2 */

.recipes .container {
    padding-top: 15px;
    padding-bottom: 3%;
}
.recipes .row {
    margin-bottom: 30px;
}
.recipes .recipes-item {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}
.recipes .item-left {
    background: transparent url('../source/content/background-note-left.png') no-repeat center;
    background-size: cover;
}
.recipes .item-right {
    background: transparent url('../source/content/background-note-right.png') no-repeat center;
    background-size: cover;
}
.recipes h3 {
    margin-bottom: 10px;
}
.recipes p {
    padding: 0 30px;
}
.recipes .tagline {
    font-family: 'OpenSans Light', sans-serif;
    text-align: center;
}

/*  cocktails */

.cocktails h2, .cocktails p {
    padding-left: 3%;
}
.cocktails p {
    font-family: 'OpenSans Light', sans-serif;
}

/* how-it-work */

.how-it-work p {
    font-family: 'OpenSans Light', sans-serif;
}

/* to-buy-now-1 */

.to-buy-now-1 img {
    position: relative;
    margin-bottom: -20%;
    width: 80%;
}
.to-buy-now-1 p, .to-buy-now-1 span {
    font-family: 'OpenSans Light', sans-serif;
}
.product-cost {
    font-family: 'OpenSans Bold', sans-serif;
    font-size: 36px;
}
.old-cost {
    display: block;
    font-family: 'OpenSans Light', sans-serif;
    font-size: 24px;
    color: #4d4d4d;
    text-decoration: line-through;
}
.current-cost {
    font-family: 'OpenSans Bold', sans-serif;
    font-size: 36px;
    color: #ff0000;
}
.timer {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    list-style: none;
    padding: 0;
    text-align: center;
}
.timer p {
    font-family: 'OpenSans Regular', sans-serif;
    margin: 0;
    font-size: 14px;
}
.timer li {
    display: inline-block;
}
.timer li span {
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
}
.timer li.seperator {
    font-size: 40px;
    line-height: 34px;
    vertical-align: top;
}

/* how-buy */

.how-buy h2, .how-buy ol, .analogs {
    padding-left: 30px;
}
.how-buy p, .how-buy li {
    font-family: 'OpenSans Light', sans-serif;
}
.how-buy .container .row>div:first-child {
    padding-top: 1%;
}
.how-buy ol {
    counter-reset: li;
}
.how-buy ol li {
    font-family: 'OpenSans Light', sans-serif;
    padding-left: 30px;
    position: relative;
    margin-bottom: 25px;
}
.how-buy ol li:before {
    content: counter(li);
    counter-increment: li;
    background-color: #007fff;
    color: #ffffff;
    font-family: 'OpenSans Bold', sans-serif;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 14px;
}
.how-buy .container .row>div:first-child p {
    font-family: 'OpenSans Regular', sans-serif;
}
.how-buy .analogs .icon-question {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background: #007fff url('../source/images/icon-question.png') no-repeat center;
    background-size: cover;
    border: 2px solid #007fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
}
.how-buy .analogs .icon-question:hover {
    background-color: #006ad3;
    border: 2px solid #006ad3;
}
.tooltip {
    display: none;
    width: 200px;
    position: absolute;
    left: -90px;
    top: 40px;
    background-color: #091726;
    color: #ffffff;
    font-size: 12px;
    padding: 15px 10px 15px 15px;
    z-index: 20;
}
.tooltip.active {
    display: block;
}
.how-buy .analogs .tooltip:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #091726;
    position: absolute;
    left: 85px;
    top: -14px;
}

/* reviews */

.reviews .video {
    margin-bottom: 20px;
}
.reviews p {
    margin-bottom: 5px;
    text-align: center;
    font-family: 'OpenSans Light', sans-serif;
}

/* for-whom */

.for-whom-1 p, .for-whom-2 p, .for-whom-3 p, .for-whom-4 p {
    font-family: 'OpenSans Light', sans-serif;
}
.for-whom-1 .row>div:last-child, .for-whom-3 .row>div:last-child {
    padding-left: 3%;
}
.for-whom-2 .row>div:first-child, .for-whom-4 .row>div:first-child {
    padding-right: 3%;
}
.for-whom-1 .to-order, .for-whom-3 .to-order, .for-whom-2 .to-order, .for-whom-4 .to-order {
    padding: 13px 33px 17px;
    font-size: 20px;
    font-family: 'OpenSans SemiBold', sans-serif;
}

/* to-buy-now-2 */

.to-buy-now-2 {
    position: relative;
    overflow: hidden;
}
.to-buy-now-2>img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 57%;
    width: auto;
    height: 100%;
}
.to-buy-now-2 h2 {
    margin-bottom: 0;
}
.to-buy-now-2 form:after {
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background-color: #dcdcdc;
    margin: 20px 0;
}
.to-buy-now-2 .old-cost {
    display: inline-block;
    font-size: 24px;
}
.to-buy-now-2 .current-cost, .to-buy-now-2 .product-cost {
    font-family: 'OpenSans SemiBold', sans-serif;
    font-size: 24px;
}
form .form-submit {
    padding: 13px 40px 15px;
    margin: 10px 20px 0 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: #007fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: 'OpenSans Bold', sans-serif;
    color: #ffffff;
    font-size: 24px;
    -webkit-box-shadow: 0 3px 6px 2px rgba(0,127,255,0.2);
    -moz-box-shadow: 0 3px 6px 2px rgba(0,127,255,0.2);
    box-shadow: 0 3px 6px 2px rgba(0,127,255,0.2);
}
form .form-submit:hover {
    background-color: #0073e1;
    -webkit-box-shadow: 0 3px 6px 3px rgba(0,127,255,0.4);
    -moz-box-shadow: 0 3px 6px 3px rgba(0,127,255,0.4);
    box-shadow: 0 3px 6px 3px rgba(0,127,255,0.4);
}
.order-info {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.order-info p {
    margin: 0;
}
.order-info p:first-child {
    font-size: 13px;
}
.order-info p:last-child {
    font-family: 'OpenSans Light', sans-serif;
    font-size: 19px;
}
.order-info .current-sum {
    font-family: 'OpenSans Bold', sans-serif;
    font-size: 22px;
}
.to-buy-now-2 ul {
    margin: 20px 0;
}
.to-buy-now-2 ul li, .to-buy-now-2 ul + p {
    display: block;
    font-family: 'OpenSans Light', sans-serif;
}

/* how-we-work */

.how-we-work ul {
    margin-top: 4%;
    -moz-text-align-last: justify;
    -ms-text-align-last: justify;
    text-align-last: justify;
    text-align: justify;
}
.how-we-work ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.how-we-work ul li {
    vertical-align: top;
    width: 255px;
    margin: 20px 0;
    -moz-text-align-last: center;
    -ms-text-align-last: center;
    text-align-last: center;
    text-align: center;
}
.how-we-work .image-wrap {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.how-we-work ul li img {
    width: 50px;
    height: auto;
    margin: 25px;
}
.how-we-work ul li p {
    font-family: 'OpenSans Light', sans-serif;
}

/* footer */

footer[role="contentinfo"] {
    background-color: #0a141f;
}
footer .container {
    padding-bottom: 20px;
    padding-top: 20px;
}
.company-details {
    float: left;
}
.company-details div {
    display: inline-block;
    font-family: 'OpenSans Light', sans-serif;
    color: #ffffff;
    font-size: 15px;
    margin-right: 10px;
}
.company-details .company-name {
    font-family: 'OpenSans Bold', sans-serif;
}
.markello, .our-email {
    display: inline-block;
    float: right;
    color: #ffffff;
}
.our-email {
    text-decoration: underline;
    margin-right: 20px;
}
.our-email:hover {
    text-decoration: none;
}
.markello {
    color: rgba(255, 255, 255, 0.7);
}
.markello:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 53px;
    height: 18px;
    background: transparent url('../source/images/markello-white.png') no-repeat center;
    background-size: cover;
    margin-left: 10px;
    opacity: 0.7;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.markello:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.markello:hover:after {
    opacity: 1;
}

/* modal */

.window-order, .window-successful, .window-error {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.9);
    display: none;
    text-align: left;
    z-index: 11;
}
.form-order, .message-error, .message-successful {
    position: absolute;
    width: 650px;
    height: 380px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 35px;
    z-index: 12;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.message-error, .message-successful {
    width: 320px;
    height: 150px;
    text-align: center;
    padding: 15px 35px;
}
.message-successful {
    height: 120px;
}
.message-error p, .message-successful p {
    font-size: 18px;
}
.message-error button, .message-successful button {
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color: #007fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: 'OpenSans Bold', sans-serif;
    color: #ffffff;
    border: 1px solid #007fff;
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px auto 0;
}
.message-error button:hover, .message-successful button:hover {
    color: #007fff;
    border: 1px solid #007fff;
    background-color: #ffffff;
}
.message-error button:active, .message-successful button:active {
    color: #ff0000;
}
.form-order .form-submit {
    margin-right: 20px;
}
.form-order h2 {
    margin-bottom: 10px;
}
.form-order .old-cost {
    display: inline-block;
    font-family: 'OpenSans Light', sans-serif;
    font-size: 24px;
}
.form-order .current-cost, .form-order .product-cost {
    display: inline-block;
    font-family: 'OpenSans SemiBold', sans-serif;
    font-size: 24px;
}
.close-marker {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #ebebeb;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.close-marker:hover {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

/* media queries */

@media (max-width: 1200px) {

    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 24px;
        line-height: 1.3;
    }
    .header-bottom .our-phone {
        font-size: 15px;
        margin-top: 20px;
    }
    .to-order {
        padding: 20px 40px;
    }

}

@media (max-width: 991px) {

    .header-top {
        display: none;
    }
    .burger {
        display: block;
        width: 25px;
        height: 25px;
        background: transparent url('../source/images/mobile-close.png') no-repeat center;
        background-size: cover;
        position: absolute;
        right: 10px;
        top: 35px;
        margin: auto;
        z-index: 10;
    }
    .burger.active {
        background: transparent url('../source/images/mobile-open.png') no-repeat center;
        background-size: cover;
    }
    .header-bottom {
        position: fixed;
        top: 0;
        bottom: auto;
    }
    .header-bottom.active {
        bottom: 0;
    }
    .header-bottom nav ul {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 60%;
        position: fixed;
        left: 0;
        top: 10%;
        text-align: center;
    }
    .header-bottom.active nav ul {
        display: flex;
    }
    .header-bottom nav ul li {
        display: block;
        margin: 20px 0;
    }
    .header-bottom nav ul li a {
        font-family: 'OpenSans SemiBold', sans-serif;
        font-size: 20px;
        color: rgba(255, 255, 255, 1);
    }
    .header-bottom .our-phone {
        float: right;
        margin-top: 35px;
        margin-right: 35px;
    }
    h1 {
        font-size: 36px;
    }
    .to-order, header .to-order {
        padding: 13px 30px 17px;
        font-size: 18px;
        margin-right: 30px;
    }
    .unique-helper h2, .cocktails h2, .how-buy h2, .for-whom-1 h2, .for-whom-2 h2, .for-whom-3 h2, .for-whom-4 h2 {
        margin-top: 30px;
    }
    .advantages-list-1 h2 {
        text-align: left;
    }
    .advantages-list-1 {
        background-image: none;
    }
    .advantages-list-1 ul li, .advantages-list-1 ul li:nth-child(2n) {
        text-align: left;
        width: 100%;
        float: none;
    }
    .advantages-list-1 ul li:before, .advantages-list-1 ul li:nth-child(2n):before {
        right: auto;
        left: 0;
    }
    .recipes .recipes-item.item-right {
        margin: 40px auto;
    }
    .to-buy-now-1 img, .to-buy-now-2 img, .for-whom-1 img, .for-whom-2 img, .for-whom-3 img, .for-whom-4 img {
        display: none;
    }
    .reviews .video-gallery {
        margin-top: 100px;
    }
    .to-buy-now-2 .to-order {
        display: block;
        margin-bottom: 20px;
    }
    .our-email {
        float: left;
        margin-top: 20px;
    }
    .markello {
        margin-top: 20px;
    }
    .for-whom-title {
        margin: 0;
    }

}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    .header-bottom .our-phone {
        margin: 20px 35px 20px 0;
        line-height: 25px;
    }
    .burger {
        top: 20px;
    }
    .no-blender, .no-juicer {
        display: block;
        margin-top: 20px;
        margin-left: 0;
    }
    .no-juicer:before {
        margin-left: 0;
    }
    .custom-select {
        display: block;
    }
    .reviews .video-gallery {
        margin-top: 70px;
    }
    .form-order {
        width: 480px;
        height: 500px;
        padding: 30px 20px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    .how-we-work ul li {
        display: block;
        margin: 20px auto;
    }
}

@media (max-width: 480px) {
    * {
        font-size: 14px;
    }
    .header-bottom .our-phone {
        font-size: 11px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    .to-buy-now-1 .current-cost {
        display: block;
    }
    .timer {
        margin-top: 20px;
    }
    .reviews .video-gallery {
        margin-top: 40px;
    }
    .markello {
        float: left;
    }
    .form-order {
        width: 320px;
        height: 430px;
        padding: 30px 15px 15px 15px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        top: auto;
    }
    .close-marker {
        display: block;
        width: 20px;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
        top: 5px;
        right: 5px;
    }
    .form-order .form-submit {
        padding: 6px 15px 10px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        font-size: 15px;
    }
    .form-order .old-cost, .form-order .current-cost, .form-order .product-cost {
        font-size: 16px;
    }
    .form-order .order-info p:first-child {
        font-size: 11px;
    }
    .advantages-list-1 ul li, .advantages-list-1 ul li:nth-child(2n) {
        font-size: 12px;
    }
}
@media (max-width: 360px) {
    .header-bottom .our-phone {
        font-size: 10px;
    }
    .advantages-list-1 ul li, .advantages-list-1 ul li:nth-child(2n) {
        font-size: 11px;
    }
}